In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [3]:
train_file_path = 'lab2_train.csv'

train_data = pd.read_csv(train_file_path, delimiter=',')

test_file_path = 'lab2_test.csv'

test_data = pd.read_csv(test_file_path, delimiter=',')

# 
# # Convert Timestamp column to datetime
# train_data['Timestamp'] = pd.to_datetime(train_data['Timestamp'], format='%d/%m/%Y %I:%M:%S %p')

In [4]:
train_data

       user_from_id  user_to_id  is_like is_match
0              1136        3141    False    False
1              2424        3174    False    False
2              1300        3590    False    False
3               800        2736    False    False
4               883         437    False    False
...             ...         ...      ...      ...
76387          2376        3057    False    False
76388          1163         933    False    False
76389          2770        3324    False    False
76390           879         785    False    False
76391           291         470    False    False

[76392 rows x 4 columns]

In [5]:
test_data

       user_from_id  user_to_id is_like is_match
0              2644        2595       ?        ?
1               567        2412       ?        ?
2              2732        3187       ?        ?
3               783         854       ?        ?
4              1104        2723       ?        ?
...             ...         ...     ...      ...
16198          2197        1449       ?        ?
16199          2507         316       ?        ?
16200           511         889       ?        ?
16201          2148        2947       ?        ?
16202          1421          91       ?        ?

[16203 rows x 4 columns]